.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/background.jpg");
  background-size: cover;
  flex-direction: column;
  padding: var(--container);

  > h1 {
    margin-bottom: 20px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    > div {
      width: 48%;
      display: flex;
      justify-content: start;
    }

    .results {
      flex-direction: column-reverse;
      border: 1px solid var(--greyLight-button);
      padding: 20px;
      border-radius: 8px;

      > div {
        display: block;
        cursor: text;
      }
    }
  }
}

@media (max-width: 1060px) {
  .container {
    justify-content: start;
    height: 100%;
    padding-bottom: 30px;

    > h1 {
      margin-top: 30px;
      font-size: 54px;
      line-height: 62px;
    }

    .wrapper {
      display: inline-block !important;

      > div {
        width: 100% !important;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 720px) {
  .container {
    padding-top: 60px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 50px 10px 0;

    > h1 {
      margin-top: 30px;
      font-size: 34px;
      line-height: 42px;
    }
  }
}
